				<div class="row">
				  <div class="item-menu pull-left">
              <p> <img src="/images/posts.png" align="left"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a dolor felis. Sed aliquam laoreet sapien, vel rutrum diam pharetra sed. </p>
              <p><a class="btn" href="/posts/">Manage Posts &raquo;</a></p>
          </div>
          <div class="item-menu pull-left">
              <p> <img src="/images/media.png" align="left"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a dolor felis. Sed aliquam laoreet sapien, vel rutrum diam pharetra sed. </p>
              <p><a class="btn" href="/posts/">Media &raquo;</a></p>
          </div>
          <div class="item-menu pull-left">
              <p> <img src="/images/link.png" align="left"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a dolor felis. Sed aliquam laoreet sapien, vel rutrum diam pharetra sed. </p>
              <p><a class="btn" href="/posts/">Links &raquo;</a></p>
          </div>
          
          <div class="item-menu pull-left">
              <p> <img src="/images/page.png" align="left"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a dolor felis. Sed aliquam laoreet sapien, vel rutrum diam pharetra sed. </p>
              <p><a class="btn" href="/posts/">Pages &raquo;</a></p>
          </div>
          <div class="item-menu pull-left">
              <p> <img src="/images/comments.png" align="left"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a dolor felis. Sed aliquam laoreet sapien, vel rutrum diam pharetra sed. </p>
              <p><a class="btn" href="/posts/">Comments &raquo;</a></p>
          </div>
					    
          <div class="item-menu pull-left">
              <p> <img src="/images/user.png" align="left"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a dolor felis. Sed aliquam laoreet sapien, vel rutrum diam pharetra sed. </p>
              <p><a class="btn" href="/posts/">User &raquo;</a></p>
          </div>
          <div class="item-menu pull-left">
              <p> <img src="/images/tools.png" align="left"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a dolor felis. Sed aliquam laoreet sapien, vel rutrum diam pharetra sed. </p>
              <p><a class="btn" href="/posts/">Tools &raquo;</a></p>
          </div>
          <div class="item-menu pull-left">
              <p> <img src="/images/setting.png" align="left"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a dolor felis. Sed aliquam laoreet sapien, vel rutrum diam pharetra sed. </p>
              <p><a class="btn" href="/posts/">Setting &raquo;</a></p>
          </div>
         </div>
           