				<div class="row">
				  <div class="item-menu pull-left">
              <p> <img src="/img/module.png" align="left"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a dolor felis. Sed aliquam laoreet sapien, vel rutrum diam pharetra sed. </p>
              <p><a class="btn" href="/posts/">Manage Posts &raquo;</a></p>
          </div>          
          <div class="item-menu pull-left">
              <p> <img src="/img/module.png" align="left"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a dolor felis. Sed aliquam laoreet sapien, vel rutrum diam pharetra sed. </p>
              <p><a class="btn" href="/category/">Category &raquo;</a></p>
          </div>
          <div class="item-menu pull-left">
              <p> <img src="/img/module.png" align="left"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a dolor felis. Sed aliquam laoreet sapien, vel rutrum diam pharetra sed. </p>
              <p><a class="btn" href="/comments/">Comments &raquo;</a></p>
          </div>
					    
          <div class="item-menu pull-left">
              <p> <img src="/img/module.png" align="left"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a dolor felis. Sed aliquam laoreet sapien, vel rutrum diam pharetra sed. </p>
              <p><a class="btn" href="/users/">User &raquo;</a></p>
          </div>
          <div class="item-menu pull-left">
              <p> <img src="/img/module.png" align="left"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a dolor felis. Sed aliquam laoreet sapien, vel rutrum diam pharetra sed. </p>
              <p><a class="btn" href="/tools/">Tools &raquo;</a></p>
          </div>
          <div class="item-menu pull-left">
              <p> <img src="/img/module.png" align="left"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a dolor felis. Sed aliquam laoreet sapien, vel rutrum diam pharetra sed. </p>
              <p><a class="btn" href="/setting/">Setting &raquo;</a></p>
          </div>
         </div>
           