<table cellpadding="0" cellspacing="0" border="0" class="display dataTable" id="datatable-post">
	<thead>
		<tr>
			<th >ID</th>
			<th >Email</th>
			<th >First Name</th>
			<th >Last Name</th>
			<th >Nickname </th>
			<th >Type </th>
			<th >Comment Date </th>
		</tr>
	</thead>
	<tbody>
		
	</tbody>

</table>
<script type="text/javascript">
$(document).ready(function() {
	var oTable = $('#datatable-post').dataTable( {
		"bProcessing": true,
		"sAjaxSource": "/users/all",
		"aoColumns": [
			{ "mDataProp": "id" },
			{ "mDataProp": "email_id" },
			{ "mDataProp": "first_name" },
			{ "mDataProp": "last_name" },
			{ "mDataProp": "nickname" },
			{ "mDataProp": "type" },
			{ "mDataProp": "created_date" }
		]
	} );	 	 	 	 	
} );
</script>

