<div class="row">
	<div class="span3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae nibh et odio tincidunt sagittis. Integer auctor porta mauris a egestas. Sed eu ligula in nulla accumsan euismod. In vestibulum mattis nunc, sit amet mollis velit tempor ac. Ut suscipit ante nec velit auctor elementum. Quisque varius nulla metus, in aliquet ligula. Donec quis tincidunt tellus.

</div>
	<div class="span9">
	 <form class="well" method="post" id="post_comments" action="" >
	 <input type="hidden" name='post_id' value="<%= blogpost.id%>"> 
	 <input type="text" class="span7 required" name='email' value="<%= blogpost.title%>">
	 <textarea type="text"  class="span7 required ckeditor" name='comment'><%- blogpost.content %></textarea>
	 Posted On <input type="text" class="span7 required" name='email' value="<%= blogpost.created_date%>">
	  <button type="submit" class="btn">Submit</button>
	 </form> 
	</div>
</div>
  