.status-failed {
    background-color: #CC3333 !important;
    color : #ffffff;
    font-weight : bold;
}

.status-success {
    background-color: #33CC33 !important;
    color: #ffffff;
    font-weight: bold;
}

.page-header {
    padding: 20px 20px 10px;
    margin: -30px 0px 0px;
    border-bottom: 0px;
}

.jumbotron .inner {
  padding: 25px 0;
}

footer p {
 text-align: center; /* center align it with the container */
}

.label {
 font-size: 15px;
 background-color: #FFFFFF;
}

#calliframe-div{
  margin-top:-24px;
  float:left;
}
.float-left{
  float:left;
}

#reportRto{
  margin-left:-50px;

}

#rtoreport{
  margin-top:30px;
  font-size:10px;
}
#rtoreport  td {
  padding: 4px 20px;
}

#rtoreport thead td{
  white-space:nowrap;
}
#rtoreport_wrapper{
  margin-top:30px;
  overflow-x: scroll;
  
}
#rtoreport_wrapper label { 
  width:auto;
}
.clear {
  /* adding top-level .clear to clear floats */
  margin-bottom: 18px;
  zoom: 1;
}
.clear:before, .clear:after {
  display: table;
  content: "";
  zoom: 1;
}
.clear:after {
  clear: both;
}


.hide-cell{
  display:none;
}

#calllogtablereport{
    margin: 20px 0 20px 0;
}

#calllogtablereport tbody  tr td:nth-child(3){
    color: #0069D6;
}

#calllogtablereport tbody  tr td:nth-child(3):hover{
    color: #00438A;
    text-decoration: underline;
    cursor: pointer;
}

#ordersDispatchTable tbody  tr td:nth-child(2){
  cursor:pointer;
  color:#00438A;
  text-decoration:underline;
}

#calllogtablereport_wrapper label {
  width:auto;
}

.deleteRow{
    color: #0069D6;
}

.deleteRow:hover{
  color: #00438A;
  text-decoration: underline;
  cursor: pointer;
}

#restocktable_wrapper{
  min-height: 0px;
}

#restockExceptionTable_wrapper{
  min-height: 0px;
  width:auto;
}

#restockExceptionTable{
  margin-top: 20px;
}

#calllogtablereport input{
  width:auto;
}
  
#rtoreport input{
  width:100%;
}

.restockFormCheckbox{
  margin-right: 20px;
}

#restockExceptionTable input[type="text"]{
  width:100%;
}
  
.checks{
  margin:8px 0 0 3px !important
}
#sliderMain {
    
    padding: 10px;
    border: 1px solid #BFBFBF;
    margin: 0px auto;
}

/* Data Table List Common CSS*/
.ListTable_wrapper{
  min-height: 0px;
  width:auto;
}

.ListTable{
  margin-top: 20px;
  width:100%;
}

.ListTable input{
  width:100%;
}
.ListTable{
	width:100%;
}
/* END;*/
#orderListTable_wrapper{
  min-height: 0px;
  width:auto;
}

#orderListTable{
  margin-top: 20px;
}

#orderListTable input{
  width:100%;
}
/* Data Table List*/
.orderListTable_wrapper{
  min-height: 0px;
  width:auto;
}

.orderListTable{
  margin-top: 20px;
  width:100%;
}

.orderListTable input{
  width:100%;
}
.printOrderListTable{
	width:100%;
	}
#vendorListTable input{
  width:100%;
}
#vendorListTable_wrapper{
      margin-left:-50px;
}

#configProductListTable input{
    width:100%
    }
    
#assocProductListTable input {
    width:100%
}

.review_input{
width: 130px;
}

#brandListTable input{
    width:100%
}

td.tdAnchor{
  color: #00438A;
  text-decoration: underline;
  cursor: pointer;
}

td.tdAnchor:hover{
  text-decoration: none;
  cursor: pointer;
}

#logTable input {
    width:100%
    }

#bulkSKUMove input{
    width:100%
}
.box-left{
 float:left;
 width:47%;
}

.box-right{
  float:right;
  width:47%;
}

.tabhead{
  background:none repeat scroll 0 0 #6F8992;
  padding:2px 10px;

}

.tabhead h4{
  color:#ffffff;
}

.modal-full-screen{
  width:1180px;
  height:550px;
  margin:-270px 0 0 -600px;
}

.modal-full-screen .modal-body{
   height:430px;
  overflow-x:auto;
}

.modal-full-screen .actions{
    width:1152 px;
    height: 35px;
}

.modal-full-screen .actions form{
	margin-right:50px;
    float:left;
}
#editOrderTable tbody  tr td:nth-child(1){
  color: #00438A;
  text-decoration: underline;
  cursor: pointer;
}


/* Shift and enlarge the whole table */
#printOrderListTable {
  width      : 1200px;
  margin-left: 0px;
}
#multipleOrderListTable {
	width      : 1200px;
  margin-left: 0px;
	}

#orderListTable tbody tr td:nth-child(2) {
  color: #00438A;
  text-decoration: underline;
  cursor: pointer;
}

/* First Check column of the orders list */
#printOrderListTable tr td:nth-child(1) input {
 margin: 0px;
}
#printOrderListTable tr th:nth-child(1) {
  padding: 3px 10px;
}
#printOrderListTable tr td:nth-child(1) {
  width: 14px;
  padding: 7px 10px 0px 10px;
}


/* "ID" column of the orders list */
#printOrderListTable tr td:nth-child(2) {
  width: 70px;
}
#printOrderListTable tbody tr td:nth-child(2) {
  color: #00438A;
  text-decoration: underline;
  cursor: pointer;
}


/* "Ordered on" column of the orders list */
#printOrderListTable tr td:nth-child(3) {
  width: 140px;
}
#printOrderListTable tr td:nth-child(4) {
  width: 280px;
}
#printOrderListTable tr td:nth-child(5) {
  width: 140px;
}
#printOrderListTable tr td:nth-child(6) {
  width: 130px;
}
#printOrderListTable tr td:nth-child(7) {
  width: 30px;
}
/* "Payment Method" column of the orders list */
#printOrderListTable tr td:nth-child(8) {
  width: 35px;
}

/* "Grand Total" column of the orders list */
#printOrderListTable tr td:nth-child(9) {
  width: 140px;
}

#multipleOrderListTable tr td:nth-child(1) input {
 margin: 0px;
}
#multipleOrderListTable tr th:nth-child(1) {
  padding: 3px 10px;
}
#multipleOrderListTable tr td:nth-child(1) {
  width: 14px;
  padding: 7px 10px 0px 10px;
}

#multipleOrderListTable tbody  tr td:nth-child(2){
  color: #00438A;
  text-decoration: underline;
  cursor: pointer;
}
#multipleOrderListTable tr td:nth-child(3) {
  width: 145px;
}
#multipleOrderListTable tr td:nth-child(6) {
  width: 130px;
}
#multipleOrderListTable tr td:nth-child(8) {
  width: 20px;
}
#multipleOrderListTable tr td:nth-child(9) {
  width: 145px;
}

#couponListTable tbody tr td:nth-child(2){
	color: #00438A;
  text-decoration: underline;
  cursor: pointer;
	}
#pincodeListTable input{
  width:100%;
}

.pinAddModalStyle {
  width: 730px;
  margin: -250px 0 0 -380px;"
}

/*Adding css styles to button dynamically created by editable datatables*/
.dataTableEditClass form > button {
  background-color: #DDDDDD; 
  border: 1px solid #AAAAAA;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
  margin: 0 3px;
  padding: 2px 5px;

}

#out-of-stock{
  margin-top: 20px;
}

#out-of-stock_wrapper label{
  min-height: 0px;
  width:auto;
}

#restockExceptionTable_wrapper label{
  min-height: 0px;
  width:auto;
}

.searchOrderId {
  cursor:pointer;
  color:#00438A;
  text-decoration:underline;
}

.calliframe-ext{
  margin-top: -24px;
  display: inline-block;
}

#customer_List_Table tbody tr td:nth-child(2){
  color: #00438A;
  text-decoration: underline;
  cursor: pointer;
}

#customer_List_Table input{
  width:100%;
}

#sb_index a{
  cursor: pointer;
}
.error-message {
    color: red;
}

.linedAnchor a{
 text-decoration: underline;  
}

.linedAnchor a:hover{
 text-decoration: none;  
 cursor: pointer;
}

.backNavText {
 float: right; 
 padding-top: 5px; 
 font-size: 15px;
 font-weight: bold;
}

.couponHideCondField {
 display: none;
}
.handIcon{
    cursor: pointer;
}

.productImageOptions{
	display: inline-block; vertical-align: top; text-align: right;
	}

#contactDetails table tr td:nth-child(1){
  font-weight: bold;
  width: 20%
}

#contactustable tbody tr td:nth-child(1){
  color: #00438A;
  text-decoration: underline;
  cursor: pointer;
}


.linedAnchor a{
 text-decoration: underline;
}

.linedAnchor a:hover{
 text-decoration: none;  
}

input, textarea, select, .uneditable-input {
color:#000000;
}

.tabs .active > a:focus{
outline:none;
}

.container{
  width:1080px;	
}

.dataTables_length select{
width:60px;
}

.dataTables_paginate {
	padding:10px 0;
	}

.dataTables_length {
    float: left;
    width: 15%;
    padding-bottom:2px;
}

.dataTables_filter {
    float: left;
    text-align: right;
    width: 85%;
    padding-bottom:2px;
}

.dataTables_info {
    float: left;
   width: 20%;
   padding-top:15px;
}

footer{
margin-top:37px;	
}

.categoriesTree{
    border-right: 1px dotted #A5A296;
    min-height: 720px;	
}

.nav a:hover {
    color:#000000;
}

#sliderMain div.mailBodyPreview, #cancel-mail div.mailBodyPreview{
  height:183px;
  padding:4px;
  border: 1px  solid #DDDDDD;
  overflow:auto;
  -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; 
  background-color: #F5F5F5;
  cursor: not-allowed;
}

#productListTable .input-mini{
    width:40px;
}

#cmsViewDiv {
  width: 680px;
  margin-left: -340px;
  height: 480px;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

#customerListTable #search_customer_id {
	width:35px;
}
#customerListTable #search_customer_first_name {
    width:60px;
}
#customerListTable #search_customer_last_name {
    width:60px;
}
#customerListTable #search_customer_email {
    width:160px;
}
#customerListTable #search_customer_telephone {
    width:80px;
}
#customerListTable #search_customer_zip {
    width:50px;
}
#customerListTable #search_customer_city {
    width:75px;
}
#customerListTable #search_customer_region {
    width:60px;
}
#customerListTable #search_customer_created_on {
    width:60px;
}
#customerListTable #search_customer_active {
    width:20px;
}

#productListTable #search_product_sku {
    width: 90px;
}
#productListTable #search_product_name {
    width: 250px;
}
#productListTable #search_product_price {
    width: 40px;
}
.tiny-textbox {
    width: 2em;
}
table.display td.right {
  text-align: right;
}

#printorders, #multipleorders{
	margin-left:-60px;
	}

/* Chat Paths Manager tab */

.allSavedPaths, .pathForm {
  width: 500px;
}

.allSavedPaths h3, .pathForm h3 {
  display: inline-block;
}

.allSavedPaths .btn.success, .pathForm .btn.hide {
  float: right;
}

.allSavedPaths .path {
	background-color: #DDD;
	padding         : 5px 10px;
	
  border-radius        : 0px 10px 0px 10px;
  -moz-border-radius   : 0px 10px 0px 10px;
  -webkit-border-radius: 0px 10px 0px 10px;
}

.allSavedPaths .path label {
  padding: 0px;
}

.allSavedPaths .path strong {
  margin-left: 35px;
}

.allSavedPaths .path strong.true, .allSavedPaths .path strong.false, .timeFrame {
	margin-left: 10px;
}

.allSavedPaths .path strong.true {
  color: #008000;
}

.allSavedPaths .path strong.false {
  color: #F90000;
}

.allSavedPaths .path strong.time {
  margin: 0px 10px 0px 0px;
}

.allSavedPaths .path button {
	float : right;
	margin: 3px 0px 0px 10px;
}

.allSavedPaths .paths hr {
  width : 80%;
  margin: 10px auto;
}

.pathForm .field {
  display      : inline-block;
  margin-bottom: 10px;
}

.pathForm .note, .pathForm input[type=text], .pathForm .available .option {
   float      : left;
   margin-left: 40px;
}

.pathForm .note {
  color     : #999;
  margin-top: 10px;
}

.pathForm .available .option {
  clear: both;
}

.pathForm .label {
  background-color: #DDD;
  color           : #000;
  font-weight     : normal;
  text-transform  : none;
  clear           : both;
  margin-bottom   : 5px;
  padding-left    : 10px;
}

.pathForm .available .time {
  float : none;
  width : 35px;
  margin: 0px 10px 0px 0px;
}

.pathForm .available .fromTime {
	margin-right: 3px;
}

.pathForm button.success {
  display: block;
  margin : auto;
}

#editProductInventory p{
	font-family: Helvetica;
	}
#sliderListTable tbody tr td:nth-child(2) {
    color: #00438A;
    cursor: pointer;
    text-decoration: underline;
}
