<!-- Global Bootstrap settings
================================================== -->
<section id="global">
  <div class="page-header">
      <h2>Recent Post</h2>
  </div>
  <div class="row">
    <div class="span4">
      <h2>Recent Post</h2>
    </div> /.span 
    <div class="span4">
      <h2>Recent Post</h2>
      
    </div> /.span 
    <div class="span4">
      <h2>Recent Post</h2>
    </div> /.span 
  </div> /.row 
</section>
