<div class="subnav">
	<h2>Add Category</h2>
	<hr>
</div>

<form class="well" method="post" id="edit_post" action="/category/add">
	<div class="row">
		<div class="error"></div>
		
		<div class="span9">
			<div class='input'>
				<input type="text " class="required " name='catname' value="">
				<textarea type="text" class="span7 required " name='description'></textarea>
			</div>
			<div class="form-actions">
				<button class="btn btn-primary" type="submit">Save changes</button>
			</div>
		</div>


	</div>
</form>
<script src="/js/category/edit.js"></script>
