<html lang="en"><head>
    <meta charset="utf-8">
    <title>Scaffolding · Twitter Bootstrap</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <!-- Le styles -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/css/docs.css">
    <link rel="stylesheet" href="/js/google-code-prettify/prettify.css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link href="/ico/favicon.ico" rel="shortcut icon">
    <link href="/ico/apple-touch-icon-144-precomposed.png" sizes="144x144" rel="apple-touch-icon-precomposed">
    <link href="/ico/apple-touch-icon-114-precomposed.png" sizes="114x114" rel="apple-touch-icon-precomposed">
    <link href="/ico/apple-touch-icon-72-precomposed.png" sizes="72x72" rel="apple-touch-icon-precomposed">
    <link href="/ico/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">
     <script src="/js/jquery.js"></script>
    <script src="/js/jquery.validate.js"></script>
  </head>

  <body data-offset="50" data-target=".subnav" data-spy="scroll" data-twttr-rendered="true">


  <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top" style="height:10px;">
      <div class="navbar-inner">
        <div class="container">
          <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a href="./index.html" class="brand">Bootstrap</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="./index.html">Overview</a>
              </li>
              <li class="active">
                <a href="./scaffolding.html">Scaffolding</a>
              </li>
              <li class="">
                <a href="./base-css.html">Base CSS</a>
              </li>
              <li class="">
                <a href="./components.html">Components</a>
              </li>
              <li class="">
                <a href="./javascript.html">Javascript plugins</a>
              </li>
              <li class="">
                <a href="./less.html">Using LESS</a>
              </li>
              <li class="divider-vertical"></li>
              <li class="">
                <a href="./download.html">Customize</a>
              </li>
              <li class="">
                <a href="./examples.html">Examples</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Masthead
      ================================================== -->
      <header id="overview" class="jumbotron subhead">
        <h1>Test Blog</h1>
        <p class="lead">Just for testing.</p>
        <div class="subnav">
          <ul class="nav nav-pills">
            <li class="active"><a href="/">Home</a></li>
            <li class=""><a href="/blog">Post</a></li>           
          </ul>
        </div>
      </header>
      <div class="row">
    <div class="span9">
  		<%- body %>
  	</div>
    <div class="span3">
      <%- partial('sidebar') %>     
    </div>
  </div>


</div><!-- /container -->
<!-- Footer
 ================================================== -->
<footer class="footer">
<div class="container" style="min-height: 150px;">
   <div class="row">
    <div class="span4">
      <h3><small>About Us</small></h3>
      <p>Bootstrap makes use of HTML elements and CSS properties that require the use of the HTML5 doctype. Be sure to include it at the beginning of every Bootstrapped page in your project.</p>
    </div><!-- /.span -->
    <div class="span4">
      <h3><small>Contact Info</small></h3>
      <p>Within the <strong>scaffolding.less</strong> file, we set basic global display, typography, and link styles. Specifically, we:</p>
            <p>Bootstrap makes use of HTML elements and CSS properties that require the use of the HTML5 doctype. Be sure to include it at the beginning of every Bootstrapped page in your project.</p>
      
    </div><!-- /.span -->
    <div class="span4">
      <h3><small>Contact Info</small></h3>
      <p>Within the <strong>scaffolding.less</strong> file, we set basic global display, typography, and link styles. Specifically, we:</p>
            <p>Bootstrap makes use of HTML elements and CSS properties that require the use of the HTML5 doctype. Be sure to include it at the beginning of every Bootstrapped page in your project.</p>
      
    </div><!-- /.span -->
    
  </div><!-- /.row -->

</div>
    <div  style="height:35px;background-color:#000;width:100%;margin:auto;">
<div class="container">    
Copyright &copy; 2012 . All Rights Reserved. 		
      <p class="pull-right"><a href="#">Back to top</a></p>
					
</div>
</div>
</footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
    <script src="/js/google-code-prettify/prettify.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>
    <script src="/js/application.js"></script>
   
</body></html>